body{
	margin: 0;
	padding: 0;

}

.dinesh{
	text-align: center;
	font-family: 'Secular One', sans-serif;	
	position: absolute;
	width: 100%;
}

.black{
	background-color: black;
	width: 220px;
	height:100px;
	position: absolute;
	left: 60px;
	top:160px;
	text-align: center;
	border-radius: 22px;
}
.black h1{
	color:white;
	font-size: 2vw;
}



.blue{
	background-color:#0984e3;
	width: 220px;
	height:100px;
	position: absolute;
	top: 160px;
	margin:0 350px;
	text-align: center;
	border-radius: 22px;
}
.blue h1{
	color:white;
	font-size: 2vw;
}
.green{
	background-color: #008000;
	width: 220px;
	height: 100px;
	position: absolute;
	margin:0 630px;
	top: 160px;
	text-align: center;
	border-radius: 22px;
}
.green h1{
	color:white;
	font-size: 2vw;
}
.violet{
	background-color: #7F00FF;
	width: 220px;
	height:100px;
	position: absolute;
	margin:0 930px;
	top:160px;
	text-align: center;
	border-radius: 22px;
}
.violet h1{
	color:white;
	font-size: 2vw;
}
.red {
	background-color: #FF0000;
	width: 220px;
	height:100px;
	position: absolute;
	top:310px;
	left: 60px;
	text-align: center;
	border-radius: 22px;
}
.red h1{
	color:white;
	font-size: 2vw;
}
.yellow{
	background-color: #f9ca24;
	width: 220px;
	height:100px;
	margin:0 350px;
	position: absolute;
	top: 310px;
	text-align: center;
	border-radius: 22px;
}
.yellow h1{
	color:white;
	font-size: 2vw;
}
.brown{
	background-color: #A52A2A;
	width: 220px;
	height:100px;
	position: absolute;
	top: 310px;
	margin:0 630px;
	text-align: center;
	border-radius: 22px;
}
.brown h1{
	color:white;
	font-size: 2vw;
}
.grey{
	background-color: #aaa69d;
	width: 220px;
	height:100px;
	margin:0 930px;
	position: absolute;
	top: 310px;
	text-align: center;
	border-radius: 22px;
}
.grey h1{
	color:white;
	font-size: 2vw;
}
.orange{
	background-color: #FF8C00;
	width: 220px;
	height:100px;
	position: absolute;
	top: 460px;
	left: 60px;
	text-align: center;
	border-radius: 22px;

}
.orange h1{
	color:white;
	font-size: 2vw;
}
.pink{
	background-color:#FFC0CB;
	width: 220px;
	height:100px;
	position: absolute;
	margin:0 350px;
	top:460px;
	text-align: center;
	border-radius: 22px;
}
.pink h1{
	color:white;
	font-size: 2vw;
}
.cyan{
	background-color:#00FFFF;
	width: 220px;
	height:100px;
	margin:0 630px;
	position: absolute;
	top:  460px;
	text-align: center;
	border-radius: 22px;
}
.cyan h1{
	color:white;
	font-size: 2vw;
}
.indigo{
	background-color:#4b0082;
	width: 220px;
	height:100px;
	margin:0 930px;
	position: absolute;
	top:460px;
	text-align: center;
	border-radius: 22px;
}
.indigo h1{
	color:white;
	font-size: 2vw;
}
.brown:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.orange:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.green:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.red:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.grey:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.cyan:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.black:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.violet:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.pink:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.blue:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.yellow:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}
.indigo:hover{
border-radius: 2vw;
opacity:0.8;
filter:alpha(opacity=50);
}

.footer-main-div{
	width: 100%;
	height: auto;
	margin: auto;
	background-color: black;
	padding: 20px 0px;
}
.footer-soc-icon{
	width: 100%;
	height: auto;
	margin: auto;
}



/* ----------------- Media Queries------------------------*/



@media screen and (max-width: 1080px) {
	
	body {
	  background-color:white;
	}
	h1{
		font-size: 50px;
	}

	.dinesh{
		width: 100%;
		text-align: left;
		height:120px;
	}

	.black{
		background-color: black;
		width: 60vw;
		height: 19vw;
		position: absolute;
		margin: 0 ;
		left: 20vw;
		top: 30vw;
		text-align: center;
		border-radius: 1.8vw;
	}

	.blue{
		background-color: blue;
		width: 60vw;
		height: 19vw;
		position: absolute;
		margin: 0;
		left: 20vw;
		top: 50vw;
		text-align: center;
		border-radius: 1.8vw;
	}

	.green{
		background-color: #008000;
		width: 60vw;
		height: 19vw;
		position: absolute;
		margin: 0;
		top: 70vw;
		left: 20vw;
		text-align: center;
		border-radius: 1.8vw;
	}

	.violet{
		background-color:  #7F00FF;
		width: 60vw;
		height: 19vw;
		position: absolute;
		margin: 0;
		top: 90vw;
		left: 20vw;
		text-align: center;
		border-radius: 1.8vw;
	}
	.red {
		background-color: #FF0000;
		width: 60vw;
		height:19vw;
		position: absolute;
		margin: 0;
		top:110vw;
		left: 20vw;
		text-align: center;
		border-radius: 1.8vw;
	}

	.yellow{
		background-color: yellow;
		width: 60vw;
		height:19vw;
		position: absolute;
		margin: 0;
		left: 20vw;
		top: 130vw;
		text-align: center;
		border-radius: 1.8vw;
	}

	.brown{
		background-color: #A52A2A;
		width: 60vw;
		height:19vw;
		position: absolute;
		margin: 0;
		top: 150vw;
		left: 20vw;
		text-align: center;
		border-radius: 1.8vw;
	}

	.grey{
		background-color: #aaa69d;
		width: 60vw;
		height:19vw;
		position: absolute;
		margin: 0;
		top: 170vw;
		left: 20vw;
		text-align: center;
		border-radius: 1.8vw;
	}

	.orange{
		background-color: #FF8C00;
		width: 60vw;
		height:19vw;
		position: absolute;
		left: 20vw;
		top: 190vw;
		text-align: center;
		border-radius: 1.8vw;
	
	}

	.pink{
		background-color:#FFC0CB;
		width: 60vw;
		height:19vw;
		position: absolute;
		margin: 0;
		top:210vw;
		left: 20vw;
		text-align: center;
		border-radius: 1.8vw;
	}

	.cyan{
		background-color:#00FFFF;
		width: 60vw;
		height:19vw;
		position: absolute;
		margin: 0;
		left: 20vw;
		top:250vw;
		text-align: center;
		border-radius: 1.8vw;
	}

	.indigo{
		background-color:#4b0082;
		width: 60vw;
		height:19vw;
		position: absolute;
		margin: 0;
		top:230vw;
		left: 20vw;
		text-align: center;
		border-radius: 1.8vw;
	}




  }


  